# Shared local AWS/DynamoDB configuration.
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_DEFAULT_REGION=us-west-2

DYNAMODB_ENDPOINT_URL=http://dynamodb:8000
CONGRESSIONAL_TABLE_NAME=officials

# Used by the refresh Lambda when running locally. Do not commit your actual .env file.
CONGRESS_API_KEY=
